@use '../helpers' as *;

.modal {
  &__action {
    @include flex-center;
    padding-block: fluid(64, 62) fluid(64, 34);
  }

  &__btn {
    @include fluid-text(24, 20);

    border-radius: fluid(167, 141);
    border: 0;
    padding-block: fluid(11, 9) fluid(9, 8);
    width: fluid(215, 181);
    font-family: var(--font-family-accent);
    font-weight: 400;
    color: var(--color-dark);
  }
}