@use 'helpers' as *;

:root {
  --color-light: #ffffff;

  --color-dark: #141414;

  --color-light-10: #f2f3ef;
  --color-light-20: #f6ffd2;

  --color-accent: #5e7600;

  --font-family-base: 'Actay', sans-serif;
  --font-family-accent: 'Inter', sans-serif;

  --container-width: #{rem(1140)};
  --container-padding-x: #{rem(15)};

  --transition-duration: 0.2s;

}